<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ text }}</h1>
    <ul>
        <li>{{ text1 }} <button>{{ text4 }}</button>  <a href="/platform/cart"><button>{{ text6 }}</button></a></li>
        <br>
        <li>{{ text2 }} <button>{{ text4 }}</button>  <a href="/platform/cart"><button>{{ text6 }}</button></a></li>
        <br>
        <li>{{ text3 }} <button>{{ text4 }}</button>  <a href="/platform/cart"><button>{{ text6 }}</button></a></li>
    </ul>
    <a href="/platform"><button>{{ text5 }}</button></a>
</body>
</html>